{% extends "base.html" %}
{% block content %}
<pre>
__About Me__：  

>这个博客是个人知识管理的工具，希望能够帮助自己进步。  
>IT男一枚,技术控，GNU/Linux爱好者。  

- 喜欢的哲学家: 斯宾诺莎、叔本华、庄子  
- 喜欢的歌手: 曹方、陈绮贞、孟庭苇、许巍、伍佰、苏芮  
- 喜欢的电影: 《海上钢琴师》、《地球上的星星》、《A Little Princess》  
- 喜欢的小说: 《匈牙利舞曲》（余泽民）、《草原》（迟子建）、《不能承受的生命之轻》、《月亮与六便士》、《挪威的森林》  
- 喜欢的音乐：

    - 曹方：《比天空还远》，《信》，《最小的海》
    - 陈绮贞：《华丽的冒险》，《鱼》，《失败者的飞翔》，《旅行的意义》，《那么就要出发了么》，《太多》
    - 元若蓝：《绿袖子》
    - 卡奇社：《日光倾城》
    - 许巍：《蓝莲花》,《执着》，《悠远的天空》，《时光》，《旅行》
    - 牛奶咖啡: 《明天, 你好》
    - 王梓盈: 《错过》
    - 筷子兄弟：《老男孩》
    - bandari: 《the first snowflakes》, 《Snowdreams》, 《New Morning》，《The Foggy Dew》，《Mountain stream》，《Moonglow》
    - 李闰珉：《kiss the rain》
    - 伍佰：《与你到永久》，《突然自我》
    - 周华健：《风雨无阻》
    - 孟庭苇：《往事》，《冬季到台北来看雨》，《风中有朵雨做的云》
    - 老狼：《想把我唱给你听》
    - 小昔米：《童年》
    - 郑智化：《星星点灯》
    - 杨蔓的：《蓝眼泪》
    - 车静子：《其实我很在乎你》
    - 张靓颖：《隐形的翅膀》
    - 赵咏华：《最浪漫的事》
    - 蔡琴：《把悲伤留给自己》
    - 黄雅莉：《蝴蝶泉边》
    - 何璐：《让她降落》
    - 任月丽：《微笑着坚强》
    - 王心凌：《我会好好的》
    - 李翊君：《风中的承诺》
    - 毛宁：《涛声依旧》
    - 李健：《中学时代》，《风花树》
    - 朴树：《生如夏花》
    - 崔健：《一无所有》
    - Kenny G： 《Jasmine Flower》，《Going Home》， 《Forever In Love》,《Auld Lang Syne》
    - Christine Glass：《my love will get you home》
    - 外语音乐：《那颗星》，《会有那么一天》，《Je m'appelle Helene》
    - 其它纯音乐：《琵琶语》，《无悔》


__Contact Me__:

+ __Email__: `<xiamingshi[a]live.com>`  
+ __QQ__: 624427998
</pre>
{% endblock %}
